//project colors

$light-coloured: #f4f5f9; /*.round-frame*/
$second-color: #fff;
$third-color: #e74c3c; /*border for block class="second-item-box*/
$fourth-color: #cbc6c0;
$fifth-color: #999; /*text in block class="second-item-box*/
$sixth-color: #6a6a6a; /*font, divider in block class="second-item-box*/
$seventh-color: #202020; /*background color in block class=our-service*/
$eighth-color: #e74e3e;

//project fonts

$first-font: "Open Sans SemiBoldItalic";
$second-font: "Open Sans Light";
$third-font: "Open Sans SemiBold";
$fourth-font: "Open Sans Bold";
$fifth-font: "Open Sans Regular";
$sixth-font: "Source Sans Pro Bold";
$seventh-font: "Source Sans Pro Regular";
$eighth-font: "Source Sans Pro Light";
